<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>Error Interno del Servidor</h1>
      <p>{{error}}</p>
      <a href="/">Regresar al Inicio</a>
    </div>
  </div>
</div>