<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Libros</h1>
  <p class="lead">Registrese para gestionar la libreria</p>
  <hr class="my-4" />
  <p>!No esperes más!
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrate</a>
  </div>
</div>