<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 bg-black text-white rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-white">
          Ingresar
        </h1>
      </div>
      <img class="rounded-circle mx-auto d-block logo m-4" src="/img/descarga.png" alt="Usuario" />
      <div class="card-body">
        <form action="/auth/signin" method="POST">
          <div class="mb-3">
            <label for="email">Correo Electrónico:</label>
            <input type="email" class="form-control bg-dark text-white" name="email" placeholder="Correo Electrónico"
              autofocus />
          </div>
          <div class="mb-3">
            <label for="passswore">Contraseña:</label>
            <input type="password" class="form-control bg-dark text-white" name="password" placeholder="Contraseña" />
          </div>
          <button class="btn btn-success btn-block mx-5">
            Iniciar Sesión
          </button>
        </form>
      </div>

      <p class="text-center">No tengo una cuenta? <a href="/auth/signup" class="text-info">Registrese</a></p>
    </div>
  </div>
</div>