<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card bg-black text-white">
      <div class="card-header pt-5">
        <h4 class="text-center">
          Registro de cuenta
        </h4>
      </div>
      <div class="card-body">
        <form action="/auth/signup" method="POST">
          <div class="mb-3">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control bg-dark text-white" name="name" placeholder="Nombre"
              value="{{name}}" />
          </div>
          <div class="mb-3">
            <label for="email">Correo Electrónico:</label>
            <input type="email" class="form-control bg-dark text-white" name="email" placeholder="Correo Electrónico"
              value="{{email}}" />
          </div>
          <div class="mb-3">
            <label for="password">contraseña</label>
            <input type="password" class="form-control bg-dark text-white" name="password" placeholder="Contraseña"
              value="{{password}}" />
          </div>
          <div class="mb-3">
            <label for="confirm_password">Confirmar contraseña:</label>
            <input type="password" class="form-control bg-dark text-white" name="confirm_password" placeholder="Confirmar contraseña"
            value="{{confirm_password}}" />
          </div>
          <button class="btn btn-success btn-block">
            Crear cuenta
          </button>
        </form>
      </div>
      <p class="text-center">Ya tienes una cuenta?
        <a href="/auth/signin" class="text-info">Ingresar</a>
      </p>
    </div>
  </div>
</div>